.taxi-form {
    position: absolute;
    left: 60px;
    top: 59px;
    z-index: 10;
    padding-top: 20px;
    background: #fff;
    max-width: 468px;
    width: 100%;
    text-align: center;
    box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    &__field {
        width: 100%;
        padding: 0 21px;
    }
    &__input {
        font-style: normal;
        font-weight: normal;
        font-size: 18px !important;
        line-height: 21px i !important;
        color: #000000 i !important;
        text-align: left;
        width: 100%;
        &:last-child {
            margin-top: 15px;
        }
    }
    &__order {
        padding: 32px 46px 33px;
        margin-top: 23px;
        height: 100%;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }
}