.form {
    max-width: 580px;
    width: 100%;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    &__inner {
        padding: 56px 113px;
    }
    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
    }
    &__info {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        text-align: left;
        margin-top: 53px;
        &:first-child {
            margin-top: 0;
        }
    }
    &__label {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        transition: all .3s ease-in;
    }
    &__btn {
        border-radius: 70px !important;
        max-width: 353px;
        width: 100%;
        height: 61px;
        margin-top: 94px !important;
        cursor: pointer;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 29px;
        &:focus {
            outline: none;
        }
        &--card {
            margin-top: 41px !important;
        }
        &--success {
            margin-top: 0px !important;
        }
    }
    &__links {
        text-align: right;
        margin-top: 13px;
        &.center {
            text-align: center;
        }
    }
    &__linked {
        display: flex;
        justify-content: center;
    }
    &__link {
        &.register {
            color: rgb(253, 191, 90);
            margin-left: 5px;
        }
    }
    &__register {
        margin-top: 33px;
    }
    &__errors {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #FF0000;
    }
    &__input {
        &--errors {
            color: #FF0000;
        }
    }
}

input::-webkit-input-placeholder {
    opacity: 0;
}

input:focus::-webkit-input-placeholder {
    transition: all .3s ease-in-out;
    opacity: 1;
}