.topbar {
    height: 102px;
    width: 100%;
    background: #1C1A19;
    &__inner {
        padding: 21px 50px 20px 27px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        display: flex;
        align-items: center;
    }
    &__img {
        object-fit: contain;
        width: 62px;
        height: 62px;
        &--text {
            margin-left: 16px;
        }
    }
}

.nav {
    display: flex;
    &__item {
        margin-left: 50px;
        padding: 6px 8px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        &:first-child {
            margin-left: 0;
        }
        &:hover {
            text-decoration: none;
            background-color: rgba(0, 0, 0, 0.04);
        }
    }
    &__link {
        font-size: 21px;
        line-height: 25px;
        &.active {
            color: rgb(253, 191, 90);
        }
    }
}